# .NET Build & Artifacts
[Bb]in/
[Oo]bj/
TestResults/
*.user
*.userosscache
*.sln.docstates
*.suo

# Logs & Temporary Files
logs/
*.log
*.bak
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor & IDE
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sw?
Publish_Output/
output/
*.ipa
